x-service-common: &service-common
  image: backend
  pull_policy: never
  build:
    context: ./packages/backend
    dockerfile: docker/local/Dockerfile
  env_file:
    - path: ./packages/backend/docker/local/env_vars
      required: true
    - path: ./packages/backend/docker/local/env_vars.override
      required: false
  depends_on:
    - redis
    - rabbitmq
    - postgres

  environment:
    PIPENV_DONT_LOAD_ENV: "true"
  volumes:
    - ./packages/backend:/opt/app:cached

services:
  redis:
    # django-cacheops=7.0.2 has the keys expiration problem when works with Redis 7
    # See related issue: https://github.com/Suor/django-cacheops/issues/475
    image: redis:6

  rabbitmq:
    image: rabbitmq:3-management
    hostname: rabbitmq
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
      - rabbitmq-logs:/var/log/rabbitmq/log
      - ./packages/backend/docker/local/rabbitmq/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf
      - ./packages/backend/docker/local/rabbitmq/definitions.json:/etc/rabbitmq/definitions.json
    ports:
      # HTTP management UI
      - "***:***"

  postgres:
    image: postgres:15
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./packages/backend/docker/local/postgres-initdb.d:/docker-entrypoint-initdb.d
    ports:
      - "***:***"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 1m

  backend:
    <<: *service-common
    ports:
      # Web API
      - "8000:8000"
    command: bash -c "make run"

  websockets:
    <<: *service-common
    environment:
      GATEWAY_INTERFACE_FILE: "ws_asgi"
    ports:
      - "8011:8011"
    profiles:
      - websockets
    command: ["make", "run_websockets"]

  frontend:
    build:
      context: ./packages/frontend
      dockerfile: ${FRONTEND_DOCKERFILE:-docker/local/Dockerfile.nowatch}
    ports:
      - "9000:9000"
    volumes:
      # Needed for hot reload
      - ./packages/frontend/app:/opt/app/static/app:cached
      - ./packages/frontend/packages/ui:/opt/app/static/packages/ui:cached
      - ./packages/frontend/config/nginx.conf:/etc/nginx/conf.d/default.conf:cached
    tty: true

  celery-worker:
    <<: *service-common
    profiles:
      - celery
    command: ["make", "run_celery_worker"]

  celery-beat:
    <<: *service-common
    profiles:
      - celery
    command: ["make", "run_celery_beat"]


  celery-orderry-service:
    <<: *service-common
    profiles:
      - celery
    command: ["make", "run_dev_celery_monolith"]

  celery-payroll:
    <<: *service-common
    profiles:
      - salary
    command: ["make", "run_celery_payroll"]

  # Requires https://github.com/Orderry/ons repository clone
  ons:
    build:
      context: ../ons
      dockerfile: ../ons/Dockerfile
    environment:
      ONS_API_URL: https://api.telegram.org/bot1058707382:***/
      ONS_BOT_NAME: ***
      ONS_BOT_TOKEN: 1058707382:***
      ONS_WEBHOOK_URL: https://171f-185-143-147-221.ngrok-free.app/service/sink/***/
      ONS_WEB_HOOK_TOKEN: ***
      ONS_TURBOSMS_AUTH_TOKEN: ***
      ONS_BYTEHAND_DIGITAL_ACCESS_KEY: ***
      ONS_BYTEHAND_DIGITAL_USER_ID: '***'
      ONS_BYTEHAND_DIRECTRU_ACCESS_KEY: ***
      ONS_BYTEHAND_DIRECTRU_USER_ID: '***'
      ONS_BYTEHAND_DIRECT_ACCESS_KEY: ***
      ONS_BYTEHAND_DIRECT_USER_ID: '***'
      ONS_SMSRU_PARTNER_ID: '***'
      ONS_CALLBACK_URL: ""
      ONS_AMQP_URI: amqp://rabbitmq/
      ONS_POSTGRES_URI: postgresql://postgres@postgres/remonline
    depends_on:
      - redis
      - rabbitmq
      - postgres
    profiles:
      - ons

  gotenberg:
    image: gotenberg/gotenberg:8.21
    profiles:
      - print


  ngrok:
    image: ngrok/ngrok:latest
    restart: unless-stopped
    command:
      - "start"
      - "--all"
      - "--config"
      - "/etc/ngrok.yml"
    volumes:
      - ./packages/backend/docker/local/ngrok.yml:/etc/ngrok.yml
    ports:
      - "4040:4040"
    env_file:
      - packages/backend/docker/local/ngrok.env
    profiles:
      - webhooks

volumes:
  postgres-data:
  rabbitmq-data:
  rabbitmq-logs:

